@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body { 
    border: solid 1px black ;                                                                   
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    width: 500px;
}

.N {
    display: block;
    background-color: rgb(173, 173, 228);
    width: 60px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;

}

img {
    width: 250px;
}

.D {
    background-color: red;
    width: 200px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.T { 
    background-color: orangered;
    margin: 10PX;
    border-radius: 5PX;
    padding: 5px;
}

.v { 
    width: 40px;
    background-color: blueviolet;
    border-radius: 15px;
    padding: 5px;
    margin-left: auto;
    margin-right: 10px;
    color: white;
    text-align: center;
}

.F {
    width: 40PX;
    background-color: red;
    color: white;
    margin-left: auto;
    margin-right: 10px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    margin-top: -10px;
}